/*header*/

header{
padding: 50px 240px;
flex-shrink: 0;
background:bisque;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav{
    display: flex;
    justify-content: space-between;
}



.fb, .tiktok{
    width: 24px;
height: 24px;
flex-shrink: 0;

}

.logo{
    width: 30px;
height: 15px;
flex-shrink: 0;

}